In [15]:
import pandas as pd
import mysql.connector 
import sqlalchemy
from sqlalchemy.dialects import registry
from sqlalchemy import create_engine
from pandas import ExcelWriter
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import time
import datetime
from datetime import date
import warnings
from pandas.tseries.offsets import MonthBegin
with warnings.catch_warnings():
    warnings.filterwarnings('ignore', r'elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison(.*)')


# SABANAS DE DATOS COMPLETA DE AGENDAS

archivo = r'C:\Users\manuel.caceres.HBL\Documents\DB\RRHH\Licencias Medicas\2020\LM dic 2018 - nov 2020.xlsx'

df2 = pd.read_excel(archivo, sheet_name='Hoja1', usecols=['Rut','Número de Licencia' ,' Nombre Funcionario','Fecha Inicio Licencia Médica','Días de Licencia','Tipo de Licencia' , 'Estamento','Unidad','Calidad juridica'] )
df2['Fecha Inicio Licencia Médica'].apply(pd.to_datetime, format="%d/%m/%Y") 
df2 = df2.rename(columns={' Nombre Funcionario':'Nombre_funcionario','Fecha Inicio Licencia Médica':'Fecha_inicio_licencia','Días de Licencia': 'Dias_de_licencia','Calidad juridica':'Calidad_juridica','Tipo de Licencia': 'Tipo_de_licencia','Número de Licencia': 'Numero_de_licencia'})
df1 = df2[(df2["Calidad_juridica"]!='HSA')]

# Calculate # of Business Days
# Convert dates to string to prevent type error [D]


df1.to_csv(r'C:\Users\manuel.caceres.HBL\Documents\DB\RRHH\out.csv', index=False)
#df1['Fecha Inicio Licencia Médica'] = pd.to_datetime(df1["Fecha Inicio Licencia Médica"].dt.strftime('%Y-%m'))



#engine = create_engine("mysql+pymysql://root:pass@localhost/mydb")
df1

,Rut,Nombre_funcionario,Dias_de_licencia,Numero_de_licencia,Fecha_inicio_licencia,Tipo_de_licencia,Unidad,Estamento,Calidad_juridica
0,4238388,HERRERA GAMBOA MAURICIA EMA,30,53638047,2019-04-26,1,3480:SERVICIO DENTAL,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
1,4238388,HERRERA GAMBOA MAURICIA EMA,30,58104271,2019-05-27,1,3480:SERVICIO DENTAL,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
2,4238388,HERRERA GAMBOA MAURICIA EMA,30,56863517,2019-03-27,1,3480:SERVICIO DENTAL,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
3,4238388,HERRERA GAMBOA MAURICIA EMA,30,45863518,2019-02-27,1,3480:SERVICIO DENTAL,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
4,4238388,HERRERA GAMBOA MAURICIA EMA,30,58087946,2019-06-26,1,3480:SERVICIO DENTAL,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
...,...,...,...,...,...,...,...,...,...
25462,27001874,FREITES AGUILERA DANIELA YSABEL,15,58715126,2020-11-18,1,3530:UNIDAD DE APOYO ANEST. Y PAB. QUIRURGICO,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
25463,27001874,FREITES AGUILERA DANIELA YSABEL,2,4066968,2020-08-31,1,3530:UNIDAD DE APOYO ANEST. Y PAB. QUIRURGICO,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
25464,27001874,FREITES AGUILERA DANIELA YSABEL,3,39955389,2020-06-23,1,3530:UNIDAD DE APOYO ANEST. Y PAB. QUIRURGICO,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
25465,27121092,BUSTAMANTE ESPIN STEPHANY THALIA,13,58712833,2020-04-21,1,3435:HOSPITALIZACION DOMICILIARIA,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata
25466,48207738,VAN GRIEKEN GARCIA JORGE LUIS,1,38261409,2019-03-04,1,4014:CDT,Médico - Odontólogo - Bioquímicos y Químicos,Titular / Contrata

In [20]:
#INDICADORES DE LICENCIAS MEDICAS TOTAL TITULAR Y CONTRATA
import datetime
import dateutil.relativedelta


#se considera todos los tipos de licencia

total_df = df1[(df1["Calidad_juridica"]=='Titular / Contrata')]
total=total_df.query("Fecha_inicio_licencia >= '2020-11-1'")
#total_tyc['TOTAL TITULAR Y CONTRATA'] = total_tyc[['Dias_de_licencia']].sum


total1= total['Dias_de_licencia'].sum()


print ("TOTAL TITULAR Y CONTRATA:",total1)

TOTAL TITULAR Y CONTRATA: 10981

In [21]:
#INDICADORES DE LICENCIAS MEDICAS TOTAL SUPLENCIAS Y REEMPLAZOS

#se considera todos los tipos de licencia
total_syr = df1[(df1["Calidad_juridica"]=='Suplente / Reemplazo')]
total2=total_syr.query("Fecha_inicio_licencia >= '2020-11-01'")
#total_tyc['TOTAL TITULAR Y CONTRATA'] = total_tyc[['Dias_de_licencia']].sum
Total3=total2['Dias_de_licencia'].sum()
print ("TOTAL SUPLENCIAS Y REEMPLAZOS:",Total3)

TOTAL SUPLENCIAS Y REEMPLAZOS: 299

In [4]:
#INDICADORES DE LICENCIAS MEDICAS TOTAL CODIGO DEL TRABAJO

#se considera todos los tipos de licencia
total_cdt = df1[(df1["Calidad_juridica"]=='Codigo de trabajo')]
total4=total_cdt.query("Fecha_inicio_licencia >= '2020-11-01'")
#total_tyc['TOTAL TITULAR Y CONTRATA'] = total_tyc[['Dias_de_licencia']].sum
Total5=total4['Dias_de_licencia'].sum()
print ("TOTAL CODIGO DEL TRABAJO:",Total5)

TOTAL CODIGO DEL TRABAJO: 0

In [16]:
#Licencias Médicas Curativas del total // licencias medicas ultimos 6 meses
#se consideran solo tipo 1 ----> DEBO AGREGAR FILTRO DE TOPO LICENCIA

import time
import datetime
from datetime import date

df_tipo = df1[(df1['Tipo_de_licencia'] == 1)]

df_6months=df_tipo.query("Fecha_inicio_licencia >= '2020-06-01'")




df6months=df_6months.groupby(["Estamento", "Nombre_funcionario"])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')




agrupado6months  = df6months.groupby(['Estamento']).agg(
                                  {
                                      'Nombre_funcionario' : 'count',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado2_6months=agrupado6months.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})



df6months

,Estamento,Nombre_funcionario,Cantidad_licencias
0,Administrativo,ABARCA HERRERA CAMILA ANDREA,2
1,Administrativo,ACEVEDO ZAMORANO GLADYS ELIANA,8
2,Administrativo,ACUÑA VILLEGAS CINDY DAYANNE,1
3,Administrativo,AGUILA ALBORNOZ GABRIELA GISELA,1
4,Administrativo,AGUIRRE MONTOYA ALEJANDRA INES,12
...,...,...,...
1896,Técnicos,ZAPATA TORO VIVIANA DEL CARMEN,5
1897,Técnicos,ZARATE SANTIS ENRIQUE JAVIER,3
1898,Técnicos,ZAVALETA MARTINEZ YESSICA YANNINA,3
1899,Técnicos,ZUÑIGA URIBE AMBAR YANIRA,1
1900,Técnicos,ÑANCUPIL LLAFQUEN ROSA LOURDES,2

In [6]:
#Licencias Médicas Curativas del total // 2 o + lm en ultimos 6 meses



import time
import datetime
from datetime import date



df_6months2=df_tipo.query("Fecha_inicio_licencia >= '2020-06-01'")


df6months2=df_6months2.groupby(["Estamento", "Nombre_funcionario","Dias_de_licencia" ])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')

df6months_23=df6months2.query("Cantidad_licencias >= 2")

agrupado6months  = df6months_23.groupby(['Estamento']).agg(
                                  {
                                      'Dias_de_licencia' : 'sum',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()


#agrupar por nombres para crear el anexo1 
anexo1 = df6months_23.groupby(['Estamento',"Nombre_funcionario" ]).agg(
                                  {
                                      'Dias_de_licencia': 'sum',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()




agrupado6months


#agrupado6_6months=agrupado6months.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})

,Estamento,Dias_de_licencia,Cantidad_licencias
0,Administrativo,1118,222
1,Auxiliares,2487,429
2,Codigo del Trabajo,33,7
3,Médico - Odontólogo - Bioquímicos y Químicos,514,128
4,Profesionales,2994,480
5,Técnicos,6003,1231

In [7]:
import time
import datetime
from datetime import date





#Licencias Médicas Curativas de duración menos de 7 días en lo últimos 3 meses


df_7days=df_tipo.query("Fecha_inicio_licencia >= '2020-09-01' and Dias_de_licencia < 7")






df2=df_7days.groupby(["Estamento", "Nombre_funcionario"])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')







agrupado1  = df2.groupby(['Estamento']).agg(
                                  {
                                      'Nombre_funcionario' : 'count',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado1

agrupado7_meses=agrupado1.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})



agrupado7_meses

# dataframe anexo 2
agrupado1_anexo2  = df2.groupby(['Estamento','Nombre_funcionario']).agg(
                                  {
                                     
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado1_anexo2

,Estamento,Nombre_funcionario,Cantidad_licencias
0,Administrativo,ABARCA HERRERA CAMILA ANDREA,1
1,Administrativo,ARANDA MARTINEZ ADELA VIVIANA,1
2,Administrativo,ARAVENA UYARTE MARCELA NICOLE,1
3,Administrativo,BELMAR LAGOS ISABEL SOLANGE,1
4,Administrativo,BLECK SILVA ROMINNA HILEYNNE,1
...,...,...,...
616,Técnicos,VIVANCO VERA ERCILIA DEL CARMEN,1
617,Técnicos,ZAMORANO CARRASCO MARGARITA ERMITA,3
618,Técnicos,ZAMORANO POLANCO CAROLINA VICTORIA,2
619,Técnicos,ZAPATA TORO VIVIANA DEL CARMEN,1
620,Técnicos,ZUÑIGA URIBE AMBAR YANIRA,1

In [8]:
#Licencias Médicas Curativas de duración menos de 100 días en lo últimos 12 meses
df_100days=df_tipo.query("Fecha_inicio_licencia >= '2019-12-01'")

df3 = df_100days[['Rut','Nombre_funcionario','Numero_de_licencia','Estamento','Dias_de_licencia']]


df4= df3.groupby(['Rut']).agg(
                                  {
                                    
                                      'Dias_de_licencia':'sum'
                                  
                                  }).reset_index()



indexed_df2= df4.set_index('Rut') 

dfNew1=pd.merge( df3,  indexed_df2 , how = 'inner', on='Rut' ) 

df_101days=dfNew1.query("Dias_de_licencia_y < 100")

df5= df_101days.groupby(["Estamento", "Nombre_funcionario","Dias_de_licencia_y"])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')
#anexo3
agrupado2_anexo3  = df5.groupby(["Estamento","Nombre_funcionario","Dias_de_licencia_y"]).agg(
                                  {
                                       
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado_anexo3=agrupado2_anexo3.rename(columns={'Dias_de_licencia_y':'total general'})
agrupado_anexo3

agrupado100  = df5.groupby(["Estamento"]).agg(
                                  {
                                      'Nombre_funcionario' : 'count',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()




agrupado12_100=agrupado100.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})

agrupado12_100.loc["Total", "Numero_Funcionario"]= agrupado12_100["Numero_Funcionario"].sum()
agrupado12_100.loc["Total", "Cantidad_licencias"]= agrupado12_100["Cantidad_licencias"].sum()
agrupado12_100

,Estamento,Numero_Funcionario,Cantidad_licencias
0,Administrativo,305.0,839.0
1,Auxiliares,297.0,1021.0
2,Codigo del Trabajo,9.0,28.0
3,Médico - Odontólogo - Bioquímicos y Químicos,342.0,820.0
4,Profesionales,569.0,1674.0
5,Técnicos,773.0,2977.0
Total,NaN,2295.0,7359.0

In [9]:

#Licencias Médicas Curativas de duración mayor o igual a 180 dias en ultimos 2 años

df_180days=df_tipo.query("Fecha_inicio_licencia >= '2018-12-01'")

df6 = df_180days[['Rut','Nombre_funcionario','Numero_de_licencia','Estamento','Dias_de_licencia']]


df7= df6.groupby(['Rut']).agg(
                                  {
                                    
                                      'Dias_de_licencia':'sum'
                                  
                                  }).reset_index()



indexed_df3= df7.set_index('Rut') 

dfNew2=pd.merge( df6,  indexed_df3 , how = 'inner', on='Rut' ) 

df_181days=dfNew2.query("Dias_de_licencia_y >= 180")

df8= df_181days.groupby(["Estamento", "Nombre_funcionario" ,'Dias_de_licencia_y'])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')

agrupado2_anexo4  = df8.groupby(["Estamento","Nombre_funcionario","Dias_de_licencia_y"]).agg(
                                  {
                                       
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado_anexo4=agrupado2_anexo4.rename(columns={'Dias_de_licencia_y':'total general'})
agrupado_anexo4

agrupado2  = df8.groupby(["Estamento"]).agg(
                                  {
                                      'Nombre_funcionario' : 'count',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado180=agrupado2.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})


agrupado180.loc["Total", "Numero_Funcionario"]= agrupado180["Numero_Funcionario"].sum()
agrupado180.loc["Total", "Cantidad_licencias"]= agrupado180["Cantidad_licencias"].sum()
agrupado180

,Estamento,Numero_Funcionario,Cantidad_licencias
0,Administrativo,44.0,698.0
1,Auxiliares,55.0,980.0
2,Codigo del Trabajo,1.0,23.0
3,Médico - Odontólogo - Bioquímicos y Químicos,9.0,143.0
4,Profesionales,48.0,751.0
5,Técnicos,169.0,3023.0
Total,NaN,326.0,5618.0

In [10]:
#Licencias Médicas Curativas del total  // licencias medicas ultimos 6 meses por unidad
#se consideran solo tipo 1 ----> DEBO AGREGAR FILTRO DE TOPO LICENCIA 
#----------------------> POR UNIDAD<-------------------------------

import time
import datetime
from datetime import date

df_unidad = df1[(df1['Tipo_de_licencia'] == 1)]
          
df_unidad1=df_unidad.query("Fecha_inicio_licencia >= '2020-06-01'")

df_unidad2=df_unidad1.groupby(["Unidad", "Nombre_funcionario"])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')

df_unidad3  = df_unidad2.groupby(['Unidad']).agg(
                                  {
                                      'Nombre_funcionario' : 'count',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

df6meses_unidad4=df_unidad3.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})



df6meses_unidad4

,Unidad,Numero_Funcionario,Cantidad_licencias
0,1924:DPTO CAPACITACION,1,1
1,3100:DIRECCION DEL HOSPITAL,6,11
2,3110:GESTION DE RIESGOS,1,1
3,3111:UNIDAD DE GESTION PRE QUIRURGICA,3,4
4,3204:ESTADISTICA,1,2
...,...,...,...
81,5024:DEPTO. RECAUDACIÓN E INGRESOS PROPIOS,19,36
82,5026:SD GESTION Y DESARROLLO DE PERSONAS,18,55
83,5028:DEPTO. GESTION DE PERSONAS HOSPITAL,23,35
84,5029:UPT,22,86
85,5048:U. MEDICINA FISICA Y REHABILITACION,3,5

In [11]:
#Licencias Médicas Curativas del total // 2 o + lm en ultimos 6 meses

import time
import datetime
from datetime import date


df_6unidad2=df_tipo.query("Fecha_inicio_licencia >= '2020-06-01'")


df6unidad=df_6unidad2.groupby(["Unidad", "Dias_de_licencia" ])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')

df6uni=df6unidad.query("Cantidad_licencias >= 2")

agrupado6uni  = df6uni.groupby(["Unidad"]).agg(
                                  {
                                      'Dias_de_licencia' : 'sum',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()


#agrupar por nombres para crear el anexo1 n
anexo1unidad = df6uni.groupby(['Unidad' ]).agg(
                                  {
                                      
                                     'Dias_de_licencia' : 'sum',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()



anexo1unidad


#agrupaunidad6meses2omas=agrupado6uni.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})


#Licencias Médicas Curativas del total // 2 o + lm en ultimos 6 meses

,Unidad,Dias_de_licencia,Cantidad_licencias
0,3100:DIRECCION DEL HOSPITAL,22,7
1,3111:UNIDAD DE GESTION PRE QUIRURGICA,4,3
2,3301:COORDINACION ENFERMERIA,34,4
3,3302:IAAS,56,17
4,3306:DERMATOLOGIA,36,8
...,...,...,...
65,5024:DEPTO. RECAUDACIÓN E INGRESOS PROPIOS,78,29
66,5026:SD GESTION Y DESARROLLO DE PERSONAS,140,51
67,5028:DEPTO. GESTION DE PERSONAS HOSPITAL,94,33
68,5029:UPT,111,84
69,5048:U. MEDICINA FISICA Y REHABILITACION,15,3

In [12]:
import time
import datetime
from datetime import date


#Licencias Médicas Curativas de duración menos de 7 días en lo últimos 3 meses POR UNIDAD


df_7daysunidad=df_tipo.query("Fecha_inicio_licencia >= '2020-09-01' and Dias_de_licencia < 7")






df2unidad=df_7daysunidad.groupby(["Unidad", "Nombre_funcionario"])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')







agrupado1unidad  = df2unidad.groupby(['Unidad']).agg(
                                  {
                                      'Nombre_funcionario' : 'count',
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()



agrupado7_mesesunidad=agrupado1unidad.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})





# dataframe anexo 2
agrupado1_anexo2unidad  = df2unidad.groupby(['Unidad','Nombre_funcionario']).agg(
                                  {
                                     
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado1_anexo2unidad

,Unidad,Nombre_funcionario,Cantidad_licencias
0,1924:DPTO CAPACITACION,VIVANCO GOMEZ CLAUDIA,1
1,3100:DIRECCION DEL HOSPITAL,CASTIGLIONE VELOSO GISELLA MARIA,1
2,3100:DIRECCION DEL HOSPITAL,CONTRERAS IBACETA BERNARDA,1
3,3111:UNIDAD DE GESTION PRE QUIRURGICA,MATUS GARAY BARBARA DANIELA,1
4,3111:UNIDAD DE GESTION PRE QUIRURGICA,PINEDA CAMPOS YOHANA PILAR,1
...,...,...,...
617,5029:UPT,SANCHEZ CORNEJO KATHERINE JAMIE,1
618,5029:UPT,SILVA GONZALEZ MARIA PIA,1
619,5029:UPT,VERA GONZALEZ VALERIA AYLEEN,1
620,5029:UPT,VILLALOBOS GALAZ DARLING,3
621,5048:U. MEDICINA FISICA Y REHABILITACION,MELENDEZ TEUTSCH TATIANA MARIA ELISA,1

In [13]:
#Licencias Médicas Curativas de duración menos de 100 días en lo últimos 12 meses
df_100daysunidad=df_tipo.query("Fecha_inicio_licencia >= '2019-12-01'")

df3unidad = df_100daysunidad[['Rut','Nombre_funcionario','Numero_de_licencia','Unidad','Dias_de_licencia']]


df4unidad= df3unidad.groupby(['Rut']).agg(
                                  {
                                    
                                      'Dias_de_licencia':'sum'
                                  
                                  }).reset_index()



indexed_df2un= df4unidad.set_index('Rut') 

dfNew1unidad=pd.merge( df3unidad,  indexed_df2un , how = 'inner', on='Rut' ) 

df_101daysunidad=dfNew1unidad.query("Dias_de_licencia_y < 100")

df5unidad= df_101daysunidad.groupby(["Unidad", "Nombre_funcionario","Dias_de_licencia_y"])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')
#anexo3
agrupado2_anexo3unidad  = df5unidad.groupby(["Unidad","Nombre_funcionario","Dias_de_licencia_y"]).agg(
                                  {
                                       
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado_anexo3unidad=agrupado2_anexo3unidad.rename(columns={'Dias_de_licencia_y':'total general'})
agrupado_anexo3unidad

agrupado100unidad  = df5unidad.groupby(["Unidad"]).agg(
                                  {
                    
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()




agrupado12_100unidad=agrupado100unidad.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})

#agrupado12_100unidad.loc["Total", "Numero_Funcionario"]= agrupado12_100unidad["Numero_Funcionario"].sum()
agrupado12_100unidad.loc["Total", "Cantidad_licencias"]= agrupado12_100unidad["Cantidad_licencias"].sum()
agrupado12_100unidad

                                              Unidad  Cantidad_licencias
0      1106:DEPARTAMENTO DE GESTION DE LA COMUNICACI                 1.0
1                      1910:DEPARTAMENTO DE FINANZAS                 1.0
2                             1924:DPTO CAPACITACION                 1.0
3                   1940:DEPARTAMENTO DE INFORMATICA                 2.0
4                        3100:DIRECCION DEL HOSPITAL                23.0
...                                              ...                 ...
94          5028:DEPTO. GESTION DE PERSONAS HOSPITAL                83.0
95                                          5029:UPT                80.0
96          5048:U. MEDICINA FISICA Y REHABILITACION                 7.0
97                                          SANTIAGO                 1.0
Total                                            NaN              7359.0

[99 rows x 2 columns]

In [14]:

#Licencias Médicas Curativas de duración mayor o igual a 180 dias en ultimos 2 años

df_180dayunidad=df_tipo.query("Fecha_inicio_licencia >= '2018-12-01'")

df6unidad = df_180dayunidad[['Rut','Nombre_funcionario','Numero_de_licencia','Unidad','Dias_de_licencia']]


df7unidad= df6unidad.groupby(['Rut']).agg(
                                  {
                                    
                                      'Dias_de_licencia':'sum'
                                  
                                  }).reset_index()



indexed_df3unidad= df7unidad.set_index('Rut') 

dfNew2unidad=pd.merge( df6unidad,  indexed_df3unidad , how = 'inner', on='Rut' ) 

df_181daysunidad=dfNew2unidad.query("Dias_de_licencia_y >= 180")

df8unidad= df_181daysunidad.groupby(["Unidad", "Nombre_funcionario" ,'Dias_de_licencia_y'])['Numero_de_licencia'].count().reset_index(name='Cantidad_licencias')

agrupado2_anexo4unidad  = df8unidad.groupby(["Unidad","Nombre_funcionario","Dias_de_licencia_y"]).agg(
                                  {
                                       
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado_anexo4unidad=agrupado2_anexo4unidad.rename(columns={'Dias_de_licencia_y':'total general'})


agrupado2unidad  = df8unidad.groupby(["Unidad"]).agg(
                                  {
                    
                                      'Cantidad_licencias' : 'sum'
                                  
                                  }).reset_index()

agrupado180unidad=agrupado2unidad.rename(columns={'Nombre_funcionario':'Numero_Funcionario'})


#agrupado180unidad.loc["Total", "Numero_Funcionario"]= agrupado180unidad["Numero_Funcionario"].sum()
agrupado180unidad.loc["Total", "Cantidad_licencias"]= agrupado180unidad["Cantidad_licencias"].sum()
agrupado180unidad

                                              Unidad  Cantidad_licencias
0                                          3302:IAAS                52.0
1             3310:SERVICIO CLINICO MEDICINA INTERNA               418.0
2                                      3314:UROLOGIA                32.0
3                      3320:SERVICIO CLINICO CIRUGIA               283.0
4      3330:SERVICIO CLINICO OBSTETRICIA  Y GINECOLO               431.0
5                 3331:SERVICIO CLINICO NEONATOLOGIA               227.0
6                   3370:SERVICIO CLINICO NEUROLOGIA                75.0
7                 3380:SERVICIO CLINICO NEUROCIRUGIA                73.0
8         3400:SERVICIO CLINICO OTORRINOLARINGOLOGIA               119.0
9                  3410:SERVICIO CLINICO PSIQUIATRIA                89.0
10     3430:SERV.CLIN TRAUMATOLOGIA Y ORTOPEDIA ADUL               173.0
11                 3435:HOSPITALIZACION DOMICILIARIA                23.0
12                              3480:SERVICIO DENTAL               107.0
13                   3510:UNIDAD DE APOYO EMERGENCIA               590.0
14     3530:UNIDAD DE APOYO ANEST. Y PAB. QUIRURGICO               394.0
15                                          3534:UTI               123.0
16                       3540:UNIDAD DE APOYO U.C.I.               103.0
17                        3541:U.C.I. CARDIOVASCULAR                84.0
18                   3590:UNIDAD DE APOYO RADIOLOGIA               148.0
19                              3901:SERVICIO SOCIAL                11.0
20                           3912:ADMISION RECEPCION                53.0
21                                      3913:ARCHIVO                22.0
22                                  3915:ESTADISTICA                28.0
23                       3940:SECCION ABASTECIMIENTO                54.0
24                         3950:SECCION ALIMENTACION               185.0
25                  3960:SECCION FARMACIA Y PROTESIS                17.0
26                       3970:SECCION ESTERILIZACION               133.0
27      4007:DEPARTAMENTO DE ATENCION A LAS PERSONAS               142.0
28                                          4014:CDT               390.0
29                                          4022:GRD                19.0
30                     4025:UNIDAD DE GESTION EN RED                11.0
31                               4028:ESPECIALIDADES                13.0
32                            4029:COORDINACION AUGE                 9.0
33                     4032:DEPTO CONTROL DE GESTION                32.0
34                    4035:RECURSOS FISICOS HOSPITAL               183.0
35                4036:GESTION FINANCIERA Y CONTABLE                58.0
36                  4039:JARDIN Y SALA CUNA HOSPITAL               166.0
37                           4049:UPC (UCI-UTI-UCIC)                35.0
38                               4056:REHABILITACION                 1.0
39         5001:SUBDIRECCION MEDICA ATENCION ABIERTA                13.0
40                 5002:SUBDIRECCIOM GESTION CLINICA                 3.0
41       5005:COORDINACION DE ENFERMERIA AT. CERRADA               104.0
42                       5009:UNIDAD DE DEPENDENCIAS                 2.0
43                            5011:MEDICO QUIRURGICO               116.0
44                  5013:UNIDAD DE APOYO LABORATORIO                98.0
45                                          5014:UMT                18.0
46        5024:DEPTO. RECAUDACIÓN E INGRESOS PROPIOS                55.0
47          5026:SD GESTION Y DESARROLLO DE PERSONAS                52.0
48          5028:DEPTO. GESTION DE PERSONAS HOSPITAL                51.0
Total                                            NaN              5618.0

In [20]:
from pandas import ExcelWriter

TodaysDate = time.strftime("%d-%m-%Y")
excelfilename = TodaysDate +".xlsx"

writer = ExcelWriter(r'C:/Users/manuel.caceres.HBL/Documents/DB/RRHH/Licencias Medicas/2020/Tablas Informe' + excelfilename)

anexo1.to_excel(writer, 'Anexo1')
anexo1unidad.to_excel(writer, 'Anexo1| por Unidad')
agrupado6months
df6meses_unidad4.to_excel(writer, 'lm ultimos 6 meses | Por unidad')
agrupado2_6months.to_excel(writer, 'lm ultimos 6 meses')

agrupado6uni.to_excel(writer, '2 o + lm en 6 meses| Por unidad')
agrupado6months.to_excel(writer, '2 o + lm en 6 meses')

agrupado7_mesesunidad.to_excel(writer, '1 a 6  3 meses| Por unidad')
agrupado7_meses.to_excel(writer, '1 a 6 dias ultimos 3 meses')

agrupado1_anexo2unidad.to_excel(writer, 'Anexo2 | por unidad')
agrupado1_anexo2.to_excel(writer, 'Anexo2')
agrupado_anexo3unidad.to_excel(writer, 'Anexo3 | por unidad')
agrupado_anexo3.to_excel(writer, 'Anexo3')
agrupado12_100unidad.to_excel(writer, '< a 100 12 meses| Por unidad')
agrupado12_100.to_excel(writer, '< a 100 ultimos 12 meses')
agrupado_anexo4unidad.to_excel(writer, 'Anexo4 | Por unidad')
agrupado_anexo4.to_excel(writer, 'Anexo4')
agrupado180unidad.to_excel(writer, '>= 180 en 2 años| Por unidad')
agrupado180.to_excel(writer, '>= 180 en ultimos 2 años')

writer.save()

In [ ]:
import mysql.connector 
import sqlalchemy
from sqlalchemy.dialects import registry
from sqlalchemy import create_engine


#engine = create_engine("mysql+pymysql://root:pass@localhost/mydb")
engine = create_engine('mysql+mysqlconnector://root:P4t0p3r3z@localhost:3306/hblt', echo = False)
df1.to_sql(name = 'licencias', con = engine, if_exists = 'append' )

In [ ]:
import datetime
datetime.timedelta(days=180)

In [ ]:
import datetime as dt
start="09:35:23"
end="10:23:00"
start_dt = dt.datetime.strptime(start, '%H:%M:%S')
end_dt = dt.datetime.strptime(end, '%H:%M:%S')
diff = (end_dt - start_dt)
diff.seconds/60

In [ ]:
import datetime
ahora = datetime.datetime.utcnow()
print(ahora)

ayer = ahora - datetime.timedelta(days=180)
print(ayer)

In [ ]:
agrupado_anexo3

In [ ]:
python -m django --version

In [ ]:
conda install -c anaconda django

In [ ]:
pkg search python

In [ ]:
pip search python

In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import warnings
from pandas.tseries.offsets import MonthBegin
with warnings.catch_warnings():
    warnings.filterwarnings('ignore', r'elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison(.*)')


# SABANAS DE DATOS COMPLETA DE AGENDAS

archivo = r'\\10.6.109.43\U ESTADISTICAS\CONSULTAS AMBULATORIAS\2020\09 - CMR_Acumulado_2020 (a Septiembre).xlsx'

df1 = pd.read_excel(archivo, sheet_name='2020')
df1['Fecha Inicio Licencia Médica'].apply(pd.to_datetime, format="%d/%m/%Y") 
df1 = df1.rename(columns={' Nombre Funcionario':'Nombre_funcionario','Fecha Inicio Licencia Médica':'Fecha_inicio_licencia','Días de Licencia': 'Dias_de_licencia','Calidad juridica':'Calidad_juridica','Número de Licencia': 'Numero_de_licencia'})


# Calculate # of Business Days
# Convert dates to string to prevent type error [D]



#df1['Fecha Inicio Licencia Médica'] = pd.to_datetime(df1["Fecha Inicio Licencia Médica"].dt.strftime('%Y-%m'))

df1

In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import warnings
from pandas.tseries.offsets import MonthBegin
with warnings.catch_warnings():
    warnings.filterwarnings('ignore', r'elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison(.*)')


# SABANAS DE DATOS COMPLETA DE AGENDAS

archivo = r'\10.6.109.43\U ESTADISTICAS\CONSULTAS AMBULATORIAS\2020\09 - CMR_Acumulado_2020 (a Septiembre).xlsx'

df1 = pd.read_excel(archivo, sheet_name='2020')
df1

In [ ]:
agrupado12_100.describe()

In [ ]:
nltk.download('wordnet')

In [ ]:
import calendar
from datetime import date

def monthdelta(date, delta):
    m, y = (date.month+delta) % 12, date.year + ((date.month)+delta-1) // 12
    if not m: m = 12
    d = min(date.day, calendar.monthrange(y, m)[1])
    return date.replace(day=d,month=m, year=y)

next_month = monthdelta(date.today(), 1) #datetime.date(2016, 10, 23)
print(next_month)

In [ ]:
import datetime
import dateutil.relativedelta

d = datetime.datetime.strptime("2013-03-31", "%Y-%m-%d")
d2 = d - dateutil.relativedelta.relativedelta(months=1)